
        body {
            font-family: Arial, sans-serif;
            background-color: #A6A6A8;
            color:#32292f;
            margin: 0;
            padding: 0;
        }

        h1 {
            text-align: center;
            background-color: #e03616;
            color: #32292f;
            padding: 20px;
        }

        form {
            max-width: 780px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        label {
            font-weight: bold;
        }

        input[type="text"],
        input[type="email"],
        textarea,
        select {
            width: 96%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        input[type="radio"],
        input[type="checkbox"] {
            margin-right: 5px;
        }

        input[type="submit"] {
            background-color: #e03616;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 3px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color:#bc2c1a;
        }

